* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbarra {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #410000;
    flex-wrap: wrap;
}

.logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.nav-links a:hover {
    transform: scale(1.1);
    background-color: white;
    color: #410000;
}

#especial {
    background-color: #fff;
    color: #410000;
}

.artistas {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.saber_mas {
    transition: transform 0.3s ease;
}

.saber_mas:hover {
    transform: scale(1.1);
}

.card {
    box-shadow: -1px -1px 10px grey;
    overflow: hidden;
    border: 1px solid black;
}

.adios {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* PARTE DE MILO J*/
.milo5 {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
    margin: 0 auto;
    max-width: 500px;
}

.milo5:hover {
    border-radius: 50%;
    border: 1px solid #BB9C5F;
    transform: scale(0.9);
}

.milo4 {
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.milo6 {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
    max-width: 200px;
    margin: 0 auto;
}

.milo6:hover {
    border-radius: 50%;
    border: 1px solid #BB9C5F;
    transform: scale(0.9);
}

.parrafo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F5F5F4;
    text-align: center;
}

.cuerpo {
    background-color: #1C1917;
}

.cajaDatosprincipal {
    min-height: 300px;
    height: auto;
    width: 100%;
    flex: 2;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #292524;
    display: flex;
    padding: 60px;
    position: relative;
    gap: 30px;
    flex-wrap: wrap;
}

.cajadatos {
    align-self: center;
    color: aliceblue;
    font-size: 15px;
    flex: 2;
}

.cajaDatosprincipal img {
    flex: 1;
    height: auto;
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;

}

.div {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #22201E;
    padding: 40px;
    position: relative;
    gap: 30px;
    flex-direction: column;
  align-items: center;
  justify-content: center
}

.caja {

    width: 55%;
    color: #ffffff;
    font-size: 15px;
    text-align: center
}

.milo2 {
    width: 38%;
    border-radius: 8px;
}

.list a {
    text-decoration: none;
    color: #000000;
}

.list {
    color: rgb(43, 0, 0);
}

.title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #D6B36E;
}

.tiltlem {
    color: rgb(51, 19, 19);
}

/*PARTE DE COSMIC KID*/
.Cosmickidimg1 {
    max-height: px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.Cosmickid2 {
    display: flex;
    margin: 30px 10px 0 0px;
    gap: 20px;
}

.Cosmickid2 img {
    max-width: 1000px;
    position: relative;
    bottom: 15px;
    border: 6px solid #700b45;
    transition: transform 0.3s ease;
}

.logo_cosmickid a {
    color: #88416a;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.FontCosmic {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    border: 6px solid #700b45;
    padding: 20px;
}

.Cosmicuerpo {
    background-color: #41122d;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.Cosmiclista {
    display: flex;
    justify-content: space-between;
    border: 6px solid #700b45;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.Cosmiclista a {
    text-decoration: none;
    color: white;
}

.Cosmiclista2 {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.Cosmickidimg3 {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.Cosmickidimg3:hover {
    border-radius: 50%;
    border: 1px solid crimson;
    transform: scale(1.2);
}

.Cosmickid2 img:hover {
    transform: scale(1.1);
}

.footerC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: white;
}

.footerC audio {
    visibility: hidden;
}

/* PARTE DE MICHAEL JACKSON */
.body_michael {
    background-color: #441111;
}

.MICHAEL {
    height: 342PX;
}

.logo_michael a {
    color: rgba(240, 216, 4, 0.699);
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.michael {
    position: relative;
    display: flex;
    margin: 30px 10px 0 10px;
    gap: 30px;
    color: white;
}

.parrafo1_michael {
    padding-right: 30px;
}

.parrafo1_michael a {
    text-decoration: none;
}

.imagenes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.referencia img {
    max-height: 300px;
    border: 2px solid grey;
}

.volver {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: -1px -1px 10px rgb(80, 80, 80);
    background-color: rgb(187, 169, 6);

}

.volver img {
    max-width: 200px;
    border-radius: 6px;
}

.volver_texto {
    background-color: #410000;
    color: rgba(240, 216, 4, 0.699);
    text-decoration: none;
    padding: 13px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    max-width: 70px;
}

.volver_texto:hover {
    transform: scale(1.1);
    background-color: rgb(187, 169, 6);
    color: #410000;
    border: 4px solid #410000;
    font-weight: bold;
    padding: 7px;
}

.informacion_michael li {
    margin: 10px;
}

.footer {
    color: #fff;
}



/*--------------------------------------------------------------------------PARTE DE Residente*/

.cuerpo_tre {
    background-color: #ffffff;
}

.section_1 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}

.div_secion_1 {
    flex-wrap: wrap;
    min-height: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    display: flex;
    padding: 0px 40px 0 40px;
    position: relative;
}

.caja_texto {
    overflow: hidden;
    flex: 1;

}

.imagen {
    flex: 1;
    position: relative;
    width: 100%;

    display: flex;
}

.imagen img {
    position: absolute;
    height: 480px;
    top: -280px;
    min-width: 300px;

}


.caja_doatos_div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.caja_Datos_principal {
    min-height: 300px;
    height: auto;
    width: 40%;
    flex: 2;
    justify-content: space-between;
    border-radius: 10px;
    background-color: black;
    display: flex;
    padding: 60px;
    position: relative;
    gap: 30px;

    flex-wrap: wrap;

}

.caja_datos {
    align-self: center;
    color: aliceblue;
    font-size: 15px;
    flex: 2;
}

.caja_Datos_principal img {
    flex: 1;
    height: auto;
    width: 280px;
    height: 250px;
    display: flex;
    justify-content: center;

}

.caja_dos_dato {
    min-height: 300px;
    height: auto;
    flex: 1;

    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 70px
}

.caja_dos_dato p {
    padding: 10px;
}


.seccion_calletre {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    padding: 40px;

}


.div_secion_22 {
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;

    justify-content: space-between;
    background-color: #000000;
    display: flex;
    padding: 40px;
    position: relative;
    gap: 30px;

}

.caja_texto_tos {

    width: 55%;
    color: #ffffff;
    font-size: 15px;

}

.imagen_dos {
    display: flex;
    justify-content: center;
    flex: 2;

}

.imagen_dos img {

    box-shadow: #ffffff 1px 1px 1px 1px;
    width: 300px;
    height: 300px;

}

.titulo_tar {
    align-self: center;
}

.contenedor_tarjetas_dos {
    padding: 15px 0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
}


.box_dos {
    flex: 1;
    min-width: 300px;
    background-color: #F5F8FE;
    display: flex;
    flex-direction: column;
    color: rgb(34, 34, 34);
    border: 2px#7c7b7b solid;
    gap: 20px;
    width: 100px;
    height: 380px;
    width: 39%;
    border-radius: 10px;
    transition: tranform 0.5s ease, box-shadow 0.3s ease;
}

.box_dos:hover {
    transform: translateY(-10px);
    box-shadow: 0 15PX 25px rgb(71, 71, 71);
}


.box_dos h3 {
    padding: 10px 10px;
    color: #555454;
}

.box_dos p {
    padding: 14px 10px;
    align-items: center;
    color: #525050;
}

.CONTENEDOR_dos {
    overflow: hidden;
    min-height: 270px;
    background-color: #000000;
    color: white;
    border: 2px#ffffff solid;
    width: 100%;
    padding: 20px;
    border-radius: 10px;

}

.contendor_tres {


    border-radius: 2px;
    background-color: #F5F8FE;
    display: flex;
    justify-content: center;
    text-align: center;
}

.foto {
    flex-wrap: wrap;
    display: flex;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;

}




.di {
    height: 500px;
    border: 2px #525050 solid;
    border-radius: 2px;
    flex: 1;
    min-width: 300px;
}

.foto img {
    position: relative;
    left: 100px;
    top: 40px;
}

.video24 {
    max-width: 560px;
    max-height: 340px;
    min-width: 200px;

    width: 100%;
    display: flex;

    justify-content: space-between;
}


.video_foto {

    height: 500px;
    border: 2px #525050 solid;
    padding: 40px;
    min-height: 300px;
    height: auto;
    flex: 1;
}

.video_foto h2 {
    padding: 10px;
    color: #555454;
}